@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.homepage-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}

body{
    background-color:black;
    margin: 0 0 0 0;
    font-family: 'IBM Plex Mono';

    color: white;

    
}

body > * {
    transform: scale(0.9); /* Scale contents to 80% */
    transform-origin: top left; /* Scale from the top-left */
    width: 111.1111%; /* Compensate for the scaling to make the content fill the width */
}

.topbar-div{
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 9px 0px 8px 0px;
    border-bottom: 1px solid rgba(84, 78, 78, 0.94);
    width: 100%;
    
    .left{
        width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;

        gap:10px;

        margin: 0 0 0 4px;
    }
    
    .mid{
        flex: 1;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .right{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
        width: 300px;
    }
}

.github-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(86, 82, 82,0.94);
    border-width: 1px;

    height: 40px;
    transition: background-color 0.2s;

    padding: 1px 1px 1px 1px;

    a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        text-decoration: none;
        color: white;
        padding: 2px 7px 2px 7px;
        height: 35px;
    }

    img{
        border-radius: 50%;
        padding: 0px 1px 0px 1px;
    }

    span{
        margin: 0px 6px 0 0;
        font-size: 15px;
    }
}

.github-div:hover{
    background-color: rgba(44, 41, 41, 0.857)
}

@media (max-width: 600px) {
    .githubText {
      display: none;
    }

    .home-text {
        display: none;
    }
}


.home-div{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    height: 40px;
    transition: background-color 0.12s;

    width: 80px;

    margin: 0 12px 0 7px;

    padding: 2px 2px 2px 2px;

    a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        text-decoration: none;
        color: white;
        height: 35px;
    
        gap: 6px;
    
        div{
            width: 23px;
            height: 23px;
        
            img{
                width: 100%;
                height: 100%;
            }
        }
    
        .home-text {
            margin: 0px 0px 0 0;
            font-size: 15px;
        }
    }
}

.home-div:hover{
    background-color: rgba(44, 41, 41, 0.857);
}

.linkedin-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(86, 82, 82,0.94);
    border-width: 1px;

    height: 40px;
    transition: background-color 0.2s;


    padding: 1px 1px 1px 1px;

    font-family: 'IBM Plex Mono';

    a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        text-decoration: none;
        color: white;
        padding: 2px 7px 2px 7px;
        height: 35px;

        img{
            border-radius: 50%;
            padding: 0px 1px 0px 1px;
        }

        span{
            margin: 0px 6px 0 0;
            font-size: 15px;
            padding: 0 0 0 6px;
        }
    }
}

.linkedin-div:hover {
    background-color: rgba(44, 41, 41, 0.857)
}

@media (max-width: 600px) {
    .linkedinText {
      display: none;
    }
}


.spotify-info-outer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.hover-info{
    position: absolute;
    margin: 200px 0 0 0;
    background-color: #121217;

    height: 90px;

    display: flex;
    opacity: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border-radius: 12px;
    border-style: solid;
    background-color: rgba(44, 41, 41, 0.948);
    border-width: 1px;

    gap: 16px;
    padding: 2px 8px 2px 10px;

    transition: opacity 0.45s;
}

.spotify-info-div:hover + .hover-info{
    opacity: 1;
}


.user-img-div{

    height: 74px;
    width: 74px;
}

.user-img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.user-name-div{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0px 0 0;
    padding: 0 0 0 0;

    p{
        font-weight: 500;
    }
}

.spotify-info-div{
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the text color */

    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(86, 82, 82,0.94);
    border-width: 1px;

    background-color: black;

    padding: 1px 12px 1px 12px;

    gap: 10px;

    transition: background-color 0.12s;

    cursor: default
}

.spotify-info-div:hover{
    background-color: rgba(44, 41, 41, 0.857)
}


.spotify-img-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 28px;
    width: 28px;
}
.spotify-img{
    width: 100%;
    height: 100%;
}

.spotify-logout-div{
    height: 16px;
    width: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    cursor: pointer;

    img{
        width: 100%;
        height: 100%;
        margin: 0;
        padding:0;
    }
}

.about-div{
    width: 36%;
    display: flex;
    flex-direction: column;

    font-family: 'IBM Plex Mono';

    h1{    
        font-size: 44px;
        color: white;
        margin: 36px 0 0 0;

        span{
            display: flex;
            flex-direction: column;
        }
    }

    .about-p{
        font-size: 21px;
        color: white;
        line-height: 30px;
    }
}


.spotify-access-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px 0 0 0;

    
    border-top: solid 1px #524949db;
    padding: 10px;

    h1{
        margin: 5px 0 5px 0;
    }

    .spotify-button-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .spotify-a{
    
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        
            margin: 10px 0 0 0;
            padding: 5px 20px 5px 20px;
            background-color: #121217;
            border-radius: 20px;
            height: 50px;
            gap: 15px;
        
            transition: background-color 0.17s;
            text-decoration: none;
        
            img{
                width: 32px;
                height: 32px;  
            }
        
            span{
                color: white;
            }
        }

        .spotify-a:hover{
            background-color: rgba(94, 89, 89, 0.857)
        }
    }

}


.feature-div{
    display: flex;
    flex-direction: row;

    margin: 20px 0 0 0;
    gap: 60px;


    a{
        text-decoration: none;
        .seperate-div{
           
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 350px;
            font-family: 'IBM Plex Mono';
            font-size: 21px;
        
            transition: background-color 0.17s;
            cursor: pointer;
        }
        .seperate-top{
            background-color: #121217;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            border-radius: 15px;
        
            height: 220px;
            width: 100%;
        }
        .seperate-top:hover{
            background-color: rgba(94, 89, 89, 0.857)
        }
        .seperate-bot{
            flex: 1;
            padding: 8px 20px 0 20px;
        }
        .seperate-bot p{
            color: white;
            line-height: 34px;
        }
        .seperate-top .seperate-icon{  
        
            margin: 0px 0px 0px 0px;
            height: 170px;
            width: 170px;
            padding: 0 0 0 0;
        }
        
        .seperate-top .populate-icon{
            margin: 0px 0px 0px 0px;
            height: 140px;
            width: 140px;
            padding: 0 0 0 0;
        }
        
        .seperate-top .user-icon{
            margin: 0px 0px 0px 0px;
            height: 106px;
            width: 106px;
            padding: 0 0 0 0;
        }
    }
    
    button{
        text-decoration: none;
    }
}


.text-analyze-div{
    width: 50%;
    display: flex;
    flex-direction: column;

    h1{    
        font-size: 44px;
        color: white;
        margin: 36px 0 0 0;
    }

    .about-p{
        font-size: 21px;
        color: white;
        line-height: 30px;
    }
}

.analyze-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    .playlists{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        padding: 0px 0px 0px 0px;
        gap: 15px;
    
        width: 50%;
    
        margin: 0 0 14px 0;
    }
}

.playlist-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the text color */
    display: flex; /* Ensure the link covers the entire block */

    .playlist-div{
    
        background-color: #121217;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        
        border-radius: 18px;
    
        height: 56px; /*45 old */
        
        padding: 0 15px 0 15px;
    
        gap: 12px;
    
        transition: background-color 0.12s;
    }
    
    .playlist-div:hover{
        background-color: rgba(94, 89, 89, 0.857);
    }
    
    .playlist-no-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        border-radius: 12px;
    
        width: 24px;
        height: 24px;
    }
    
    .playlist-no{
        font-size: 15px;
        
    }
    
    
    .playlist-img-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        margin: 0 0 0 20px;
    
        border-radius: 25px;
        padding: 0px 5px 0px 5px;
    
        img{
            width: 50px;
            height: 50px;
    
            border-radius: 25px;
        }
    }
    
    .playlist-name-div{
    
        p{
            font-size: 18px;
            color: white;
        }
    }
}


.analyzed-loading-div,
.loaded-div,
.populate-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-text{
    font-size: 20px;
    color: white;
}

.lottie-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 39px;

}

.lottie-animation{
    width: 370px;
    height: 370px;
}

.new-playlist-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 25px;
    width: 50%;
    flex-wrap: wrap;

    margin-bottom: 20px;
}


.new-playlist-div{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 7px 0 0 0;
    border-radius: 18px;

    .top-div{
        background-color: #121217;
        border-radius: 18px;
    
        height: 60px; /*45 old */
        
        margin: 0 0 0 0;
        padding: 5px 15px 5px 15px;
    
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    
        align-self: flex-start;
        gap: 5px;
        cursor: pointer;

        transition: background-color 0.11s;
    }

    .top-div:hover{
        background-color: rgba(168, 152, 100, 0.857);
    }

    .bot-div{
        height: 0px;
        width: 290px;
        
        background-color: black;
        border-radius: 18px;
        transition: height 0.5s ease; 

        overflow: hidden; 

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;

        margin: 10px 0 0 0;
        
    }

    .bot-div.expanded{
        height: calc(0px + (var(--track-count)) * 100.21px);
    }
   
    .nn-name-div{
        padding: 0 5px 0 5px;
    
        p{
            font-size: 15px;
            color: white;
    
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
    }
    
    
    .new-playlist-img-div{
        padding: 5px 5px 5px 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .track-count-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        margin: 0 0 0 10px;
    
    }
    
    .new-icon{
        width: 40px;
        height: 40px;
    }
}

 


.create-list-button-div{
    margin: 18px 0 0 0;

    .create-list-button{
        padding: 5px 14px 5px 9px;
        margin: 15px 0 50px 0;
        background-color: #121217;
    
        text-decoration: none; /* Remove underline */
        color: inherit; /* Inherit the text color */
        display: flex; /* Ensure the link covers the entire block */
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        font-size: 17px;
        border-radius: 20px;
    
        gap:11px;
    
        transition: background-color 0.12s;
    }
    
    .create-list-button:hover{
        background-color: rgba(177, 232, 155, 0.446);
    }
    
    .create-list-img-div{
        height:40px;
    
    }
    
    .img2{
        width: 100%;
        height: 100%;
    }
}


.limit-input-div{
    align-self: center;
}

.limit-input::-webkit-outer-spin-button,
.limit-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.spotify-playlist-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 0px 0px 0px 0px;
    gap: 15px;

    width: 50%;

    margin: 0 0 14px 0;
}

.limit-input{
    background-color: #1e1e26;
    color: white;
    
    height: 35px;
    width: 93px;
    text-align: center;

    border-radius: 10px;
    border:none;
    padding: 5px 8px 5px 8px;

}

.populate-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommended-tracks-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:23px;

    flex-wrap: wrap;
    width: 50%;
    row-gap: 23px;

    margin: 0 0 20px 0;
}


.create-list-button-div{

    .create-list-button{
        padding: 5px 14px 5px 9px;
        margin: 15px 0 85px 0;
        background-color: #121217;
    
        text-decoration: none; /* Remove underline */
        color: inherit; /* Inherit the text color */
        display: flex; /* Ensure the link covers the entire block */
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        font-size: 17px;
        border-radius: 20px;
    
        gap:11px;
    
        transition: background-color 0.12s;
    }
    
    .create-list-button:hover{
        background-color: rgba(155, 111, 167, 0.709);
    }
    
    .img-div{
        height:40px;
        padding: 0 2px 0 2px;
    }
    
    .button-text{
        font-weight: 600;
        color: white;
    }
    
    .img2{
        width: 100%;
        height: 100%;
    }
}

.spotify-normal-track-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    margin: 0px 0 0 0;
    gap: 0px;

    position: relative;
    cursor: default;

    .top-div{
        border-radius: 18px;
    
        height: 58px; /*45 old */
        
        margin: 0 0 0 0;
        padding: 5px 10px 5px 10px;
    
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    
        gap: 10px;
    
        transition: background-color 0.5s, border-color 0.2s;
    
        border: 1px solid #121217;

        .img-div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        
            height: 45px;
        
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
        
        .name-div{
            font-weight: 600;
            color:white;
        }
    }

    .top-div:hover{
        background-color: rgba(84, 78, 78, 0.94);
    }
    
    .bot-div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    
        padding: 5px 11px 5px 11px;

        .artist-div{
            font-size: 13px;
        
            p{
                margin:0;
                padding:0;
            }
        }
    }
}

.spotify-track-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    margin: 0px 0 0 0;
    gap: 0px;

    position: relative;

    .top-div{
        border-radius: 18px;
    
        height: 58px; /*45 old */
        
        margin: 0 0 0 0;
        padding: 5px 10px 5px 10px;
    
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    
        gap: 10px;
    
        transition: background-color 0.5s, border-color 0.2s;
    
        border: 1px solid #121217;

        .img-div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        
            height: 45px;
        
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
        
        .name-div{
            font-weight: 600;
            color:white;
        }
    }
    
    .track-hover-outer{
        position: absolute;
        right: -326px;
        top: -107px;
        z-index: 100;
    
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.65s;
        
        pointer-events: none;
    }
    .bot-div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    
        padding: 5px 11px 5px 11px;

        .artist-div{
            font-size: 13px;
        
            p{
                margin:0;
                padding:0;
            }
        }
    }
}


.spotify-track-div:hover .track-hover-outer{
    visibility: visible;
    opacity: 1;
}

.spotify-track-div:hover .top-div{
    border-color: gray;
}

.track-hover-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #17171d;
    border-radius: 18px;
    padding: 11px;
    gap: 8px;

    line-height: 25px;

    border: 1px solid gray;

    .hover-img-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        height: 280px;
        width: 280px;
    
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
    
    .th-name-div{
        width: 280px;
        text-align: start;
    }
    
    .th-artist-div{
        width: 280px;
        text-align: start;
    }

    p{
        margin:0;
        padding: 5px 0 0 0;
    }
}

.flex-row-ja-c-c{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-col-ja-c-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logged-in-user-outer-div{
    position: relative;

    .bot-div {
        position: absolute;
        background-color: #121217;
        top: 50px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        border-radius: 10px;
        padding: 2px 10px 2px 10px;
        
        .logout-button{
            
            text-decoration: none;
            color: white;
            font-size: 14px;
            gap:10px;
            padding: 0px;
            margin:0px;

            transition: color 0.09s;
            cursor: pointer;

        }

        .logout-button:hover{
            color: rgb(220, 88, 88);
        }
    }
}

.logged-in-user{

    height: 40px;

    border: 1px solid rgba(86, 82, 82,0.94);
    border-radius: 5px;
    padding: 0 10px 0 0;

    img{
        width: 80%;
        height: 80%;
    }

}

.logged-in-user-outer-div:hover .bot-div,
.bot-div:hover {
    opacity: 1;
    visibility: visible;
}